<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HexDragons Gmail Automator</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/styles.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        h1{
            color: rgb(68, 0, 255);
        }
    </style>
</head>
<body>

    <h1>HexDragons Gmail Automator</h1>
    <div class="container">
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <form action='/sendmail' method="POST" class="col s12">
              <div>
                  <br>
              </div>
              <div class=" mb-3 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                <label for="email" class="form-label"> <p class="text-info"> Email Address:</p></label>
                <input type="email" class="form-control" id="email" name="to_mail" placeholder="Enter email">
              </div>
                
             
              <div class=" mb-3 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                <label for="email" class="form-label"><p class="text-info">To Email Address:</p></label>
             <!--  <input type="email" class="form-control" id="exampleOutputEmail1" rows="" >-->
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="from_email" placeholder="Enter to address(s)"></textarea>
              </div>
              
              <div class=" mb-3 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                <label for="exampleFormControlTextarea1"><p class="text-info">Subject</p></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="subject" rows="1"></textarea>
              </div>

              <div class=" mb-3 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                <label for="exampleFormControlTextarea1"><p class="text-info">Enter Text</p></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="3"></textarea>
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">
              <div><br><br></div>
            </form>
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </div>
        </div>
    </div>
        
        

        
        

   
    
</body>
</html>